<section class="form">
		<form onsubmit="return SimpleCampaignPage.addPerson('<%= campaign._id %>', '<%= campaign.slug %>', '<%= fieldsToShow %>');">
<% for (let i=0; i < fieldsToShow.length; i++) {
%>        	<input id="<%= fieldsToShow[i] %>" type="<%= (fieldsToShow[i] === 'email' ? 'email' : 'text') %>" required placeholder="<%= getText(campaign, fieldsToShow[i] + 'Placeholder', defaults) %>">
<% } %>        	<button id="submitButton" type="submit"><%= getText(campaign, 'ctaTitle', defaults) %></button>
		</form>
	</section>