<% include ../shared/pageHeader %>
<% include ../shared/headerMetaTags %>
<% include ../shared/headerIncludes %>
</head>

<body>

<main class="padded">
  <p>Email: <%- person.email %></p>
  <p>Phone: <%- person.phone %></p>
  <p>Company: <%- person.companyName %></p>
  <p>First name: <%- person.firstName %></p>
  <p>Last name: <%- person.lastName %></p>
  <p>Date created: <%- formatDateTime(person.dateCreated) %></p>
  <p>Campaign page: <a target="_blank" href="/<%= person.campaign ? person.campaign.slug : '' %>"><%= person.campaign ? person.campaign.slug : '' %></a></p>
  <p>Campaign Title: <%- person.campaignTitle %></p>
</main>

<% include ../shared/pageFooter %>