<% include ../shared/pageHeader %>
<% include ../shared/headerMetaTags %>
<% include ../shared/headerIncludes %>
</head>

<body>

<main class="padded">
  <p><strong>Email:</strong> <%- person.email %></p>
  <p><strong>Phone:</strong> <%- person.phone %></p>
  <p><strong>Company:</strong> <%- person.companyName %></p>
  <p><strong>First name:</strong> <%- person.firstName %></p>
  <p><strong>Last name:</strong> <%- person.lastName %></p>
  <p><strong>Date created:</strong> <%- formatDateTime(person.dateCreated) %></p>
  <p><strong>Campaign page:</strong> <a target="_blank" href="/<%= person.campaign ? person.campaign.slug : '' %>"><%= person.campaign ? person.campaign.slug : '' %></a></p>
  <p><strong>Campaign Title:</strong> <%- person.campaignTitle %></p>
</main>

<% include ../shared/pageFooter %>