<% include ../shared/pageHeader %>
<title><%- title %></title>
<% include ../shared/headerIncludes %>
<link rel="stylesheet" href="/weld-static-assets/css/weld-icons.css">
<script type="text/javascript" src="/js/clientAdmin.js" async></script>
</head>

<body>
<main class="page-admin-list">

<h1>Campaigns</h1>

<% if (isAuthenticated) { %>
	<div class="actions"><button onclick="SimpleCampaignPageAdmin.addCampaign('<%= password %>')">Add campaign</button></div>

	<table>
		<thead>
			<tr>
				<th>Slug</th>
				<th>Date</th>
				<th>Title</th>
				<th>Results</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
	<% for(var i=0; i < campaigns.length; i++) { %>
			<tr>
				<td>
					<a href="<%= campaigns[i].slug %>" title="<%= campaigns[i].title %>"><%= campaigns[i].slug %></a>
					/ <a href="<%= campaigns[i].slug %>/done" title="Done page">page2</a>
					<%- editButton(campaigns[i]._id, 'slug', campaigns[i].slug, isAuthenticated, password, 'Slug') %>
				</td>
				<td><%= formatDate(campaigns[i].dateCreated) %></td>
				<td
					class="hero<%= campaigns[i].darkText ? ' dark-text' : ' light-text' %>"
					style="background-image: url(<%= campaigns[i].imageUrl %>?auto=format&fit=max&w=500&dpr=2&q=70);"
					>
					<h3><%- editLink(campaigns[i]._id, 'title', campaigns[i].title, isAuthenticated, password, campaigns[i].title) %></h3>
					<p><%- editLink(campaigns[i]._id, 'tagline', campaigns[i].tagline, isAuthenticated, password, campaigns[i].tagline || '(add tagline)') %></p>
					<hr>
					<%- editButton(campaigns[i]._id, 'description', campaigns[i].description, isAuthenticated, password, 'Description') %>
					<%- editButton(campaigns[i]._id, 'imageUrl', campaigns[i].imageUrl, isAuthenticated, password, 'Image') %>
					<%- editButton(campaigns[i]._id, 'darkText', campaigns[i].darkText, isAuthenticated, password, 'Dark?') %>
					<hr>
					<%- editButton(campaigns[i]._id, 'ctaTitle', campaigns[i].ctaTitle, isAuthenticated, password, 'CTA') %>
					<%- editButton(campaigns[i]._id, 'ctaUrl', campaigns[i].ctaUrl, isAuthenticated, password, 'Link') %>
					<%- editButton(campaigns[i]._id, 'doneText', campaigns[i].doneText, isAuthenticated, password, '“Thank you”') %>
				</td>
				<td>
					<a href="/api/people?campaign=<%= campaigns[i]._id %>&password=<%= password %>">List</a>
				</td>
				<td>
					<a onclick="SimpleCampaignPageAdmin.duplicateCampaign('<%= campaigns[i]._id %>', '<%= password %>')"><span class="clickable icon icon-duplicate"></span></a>
					<a onclick="SimpleCampaignPageAdmin.deleteCampaign('<%= campaigns[i]._id %>', '<%= password %>')"><span class="clickable icon icon-delete"></span></a>
				</td>
			</tr>
	<% } %>
		</tbody>
	</table>

<% } %>

</main>

<% include ../shared/pageFooter %>