<% include ../shared/pageHeader %>
<title><%- pageTitle %></title>
<% include ../shared/headerMetaTags %>
<% include ../shared/headerIncludes %>
</head>

<body>
<main class="page-show">

	<section class="hero<%= campaign.darkText ? ' dark-text' : '' %>" style="background-image: url(<%= campaign.imageUrl %>?auto=format&fit=max&w=1280&dpr=2&q=70);">
		<h1><%= pageTitle %></h1>
<% if (campaign.tagline) { %>
		<p class="tagline"><%= campaign.tagline %></p>
<% } %>
	</section>
	<section class="form">
		<form onsubmit="return SimpleCampaignPage.addPerson('<%= campaign._id %>', '<%= campaign.slug %>');">
			<input id="email" type="email" placeholder="<%= getText(campaign, 'emailPlaceholder', defaults) %>">
			<button id="submitButton" type="submit"><%= getText(campaign, 'ctaTitle', defaults) %></button>
		</form>
	</section>
	<section class="description"><%= campaign.description %></section>
	<section class="fineprint"><%= getText(campaign, 'pageFooter', defaults) %></section>

<% include ../shared/pageFooter %>