<% include ../shared/pageHeader %>
<title><%- pageTitle %></title>
<% include ../shared/headerMetaTags %>
<% include ../shared/headerIncludes %>
</head>

<body>
<main class="page-show">

	<section
		class="hero<%= campaign.darkText ? ' dark-text' : ' light-text' %>"
		<%- campaign.imageUrl ? 'style="background-image: url(' + campaign.imageUrl + '?auto=format&fit=max&w=1280&dpr=2&q=70);"' : '' %>
		>
		<h1 id="title"><%= pageTitle %></h1>
	</section>
<% if (!campaign.videoUrl) { %>
<% include signupForm %>
<% } %>
<% if (campaign.tagline) { %>
	<section class="tagline"><%= campaign.tagline %></section><% 
} %>
	<section class="description"><%- campaign.description %></section>
<% if (campaign.videoUrl) { %>
	<section class="video">
		<div class="video-wrapper">
			<iframe width="560" height="349" src="https://www.youtube.com/embed/<%= getVideoID(campaign.videoUrl) %>?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>
<% include signupForm %>
<% } %>
	<section class="fineprint"><%- getText(campaign, 'pageFooter', defaults) %></section>

</main>

<% include ../shared/analyticsScripts %>
<% include ../shared/pageFooter %>