<% include ../shared/pageHeader %>
<title><%- pageTitle %></title>
<% include ../shared/headerMetaTags %>
<% include ../shared/headerIncludes %>
</head>

<body>
<main class="page-show-done">

	<section
		class="hero<%= campaign.darkText ? ' dark-text' : ' light-text' %>"
		<%- campaign.imageUrl ? 'style="background-image: url(' + campaign.imageUrl + '?auto=format&fit=max&w=1280&dpr=2&q=70);"' : '' %>
		>
		<h1><%= pageTitle %></h1>
	</section>
	<section class="done">
		<p><%- getText(campaign, 'doneText', defaults) %></p>
<% if (campaign.ctaUrl) { %>
		<p>
			<a class="button" href="<%= campaign.ctaUrl %>" onclick="SimpleCampaignPage.trackGetContent(event, '<%= campaign.slug %>')"><%= getText(campaign, 'ctaTitle', defaults) %></a>
		</p>
<% } %>
	</section>
	<section class="fineprint"><%- getText(campaign, 'pageFooter', defaults) %></section>

</main>

<% include ../shared/analyticsScripts %>
<% include ../shared/pageFooter %>