<% include ../shared/pageHeader %>
<title><%- campaign.title %></title>
<% include ../shared/headerMetaTags %>
<% include ../shared/headerIncludes %>
</head>

<body>
<main class="page-show-done">

	<section class="hero<%= campaign.darkText ? ' dark-text' : '' %>" style="background-image: url(<%= campaign.imageUrl %>);">
		<h1><%= campaign.title %></h1>
	</section>
	<section class="done">
		<p><%= getText(campaign, 'doneText', defaults) %></p>
<% if (campaign.ctaUrl) { %>
		<p>
			<a class="button" href="<%= campaign.ctaUrl %>" onclick="SimpleCampaignPage.trackGetContent(event, '<%= campaign.slug %>')"><%= getText(campaign, 'ctaTitle', defaults) %></a>
		</p>
<% } %>
	</section>
	<section class="fineprint">
		This is a campaign by Weld (Weld Your Own App AB). For questions or if you want to be removed, email contact@weld.io.
	</section>

<% include ../shared/pageFooter %>